<nav class="tabbar" id="tabbar">
    <a id="tab-home" href="#home" data-id="home" aria-label="홈" class="active">
      <div class="icon"><span class="fi fi-rr-home"></span></div>
      <span>홈</span>
    </a>
  
    <!-- <a id="tab-category" href="#category" data-id="category" aria-label="카테고리">
      <div class="icon"><span class="fi fi-rr-blog-text"></span></div>
      <span>카테고리</span>
    </a> -->

    <a id="tab-page-map" href="#page-map" data-id="page-map" aria-label="페이지">
      <div class="icon"><span class="fi fi-rr-map"></span></div>
      <span>페이지</span>
    </a>

    <a id="tab-shop-main-1" href="#shop-main-1" data-id="shop-main-1" aria-label="쇼핑몰 홈 1">
      <div class="icon"><span class="fi fi-rr-shopping-cart"></span></div>
      <span>쇼핑몰</span>
    </a>

    <a id="tab-blog-list-1" href="#blog-list-1" data-id="blog-list-1" aria-label="블로그 리스트 1">
      <div class="icon"><span class="fi fi-rr-blog-text"></span></div>
      <span>블로그</span>
    </a>
  
    <!-- <a id="tab-community" href="#community" data-id="community" aria-label="커뮤니티">
      <div class="icon"><span class="fi fi-rr-tags"></span></div>
      <span>커뮤니티</span>
    </a> -->
  
    <a id="tab-profile" href="#profile" data-id="profile" aria-label="마이">
      <div class="icon"><span class="fi fi-rr-bell-ring"></span></div>
      <span>마이</span>
    </a>
</nav>