:root {
    --section-bg: rgba(238, 238, 238, 1);
    --headline-l-font-family: "Pretendard", Helvetica;
    --headline-l-font-weight: 700;
    --headline-l-font-size: 36px;
    --headline-l-letter-spacing: 0px;
    --headline-l-line-height: 125%;
    --headline-l-font-style: normal;
    --headline-m-font-family: "Pretendard", Helvetica;
    --headline-m-font-weight: 700;
    --headline-m-font-size: 32px;
    --headline-m-letter-spacing: 0px;
    --headline-m-line-height: 125%;
    --headline-m-font-style: normal;
    --headline-s-font-family: "Pretendard", Helvetica;
    --headline-s-font-weight: 700;
    --headline-s-font-size: 28px;
    --headline-s-letter-spacing: 0px;
    --headline-s-line-height: 125%;
    --headline-s-font-style: normal;
    --title-1-font-family: "Pretendard", Helvetica;
    --title-1-font-weight: 700;
    --title-1-font-size: 24px;
    --title-1-letter-spacing: 0px;
    --title-1-line-height: 125%;
    --title-1-font-style: normal;
    --title-2-font-family: "Pretendard", Helvetica;
    --title-2-font-weight: 700;
    --title-2-font-size: 20px;
    --title-2-letter-spacing: 0px;
    --title-2-line-height: 125%;
    --title-2-font-style: normal;
    --title-3-font-family: "Pretendard", Helvetica;
    --title-3-font-weight: 700;
    --title-3-font-size: 18px;
    --title-3-letter-spacing: 0px;
    --title-3-line-height: 125%;
    --title-3-font-style: normal;
    --label-l-font-family: "Pretendard", Helvetica;
    --label-l-font-weight: 700;
    --label-l-font-size: 16px;
    --label-l-letter-spacing: 0px;
    --label-l-line-height: 24px;
    --label-l-font-style: normal;
    --label-m-font-family: "Pretendard", Helvetica;
    --label-m-font-weight: 700;
    --label-m-font-size: 14px;
    --label-m-letter-spacing: 0px;
    --label-m-line-height: 20px;
    --label-m-font-style: normal;
    --label-s-font-family: "Pretendard", Helvetica;
    --label-s-font-weight: 700;
    --label-s-font-size: 12px;
    --label-s-letter-spacing: 0px;
    --label-s-line-height: 20px;
    --label-s-font-style: normal;
    --body-1-font-family: "Pretendard", Helvetica;
    --body-1-font-weight: 400;
    --body-1-font-size: 16px;
    --body-1-letter-spacing: 0px;
    --body-1-line-height: 179.99999523162842%;
    --body-1-font-style: normal;
    --body-2-font-family: "Pretendard", Helvetica;
    --body-2-font-weight: 400;
    --body-2-font-size: 14px;
    --body-2-letter-spacing: 0px;
    --body-2-line-height: 179.99999523162842%;
    --body-2-font-style: normal;
    --button-1-font-family: "Pretendard", Helvetica;
    --button-1-font-weight: 700;
    --button-1-font-size: 16px;
    --button-1-letter-spacing: 0px;
    --button-1-line-height: 24px;
    --button-1-font-style: normal;
    --button-2-font-family: "Pretendard", Helvetica;
    --button-2-font-weight: 700;
    --button-2-font-size: 14px;
    --button-2-letter-spacing: 0px;
    --button-2-line-height: 20px;
    --button-2-font-style: normal;
    --button-3-font-family: "Pretendard", Helvetica;
    --button-3-font-weight: 700;
    --button-3-font-size: 12px;
    --button-3-letter-spacing: 0px;
    --button-3-line-height: 16px;
    --button-3-font-style: normal;
    --caption-l-font-family: "Pretendard", Helvetica;
    --caption-l-font-weight: 400;
    --caption-l-font-size: 16px;
    --caption-l-letter-spacing: 0px;
    --caption-l-line-height: 24px;
    --caption-l-font-style: normal;
    --caption-m-font-family: "Pretendard", Helvetica;
    --caption-m-font-weight: 400;
    --caption-m-font-size: 14px;
    --caption-m-letter-spacing: 0px;
    --caption-m-line-height: 20px;
    --caption-m-font-style: normal;
    --caption-s-font-family: "Pretendard", Helvetica;
    --caption-s-font-weight: 400;
    --caption-s-font-size: 12px;
    --caption-s-letter-spacing: 0px;
    --caption-s-line-height: 20px;
    --caption-s-font-style: normal;
    --shadow-1: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    --shadow-2: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    --shadow-3: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
    --shadow-4: 0px 12px 48px 0px rgba(0, 0, 0, 0.1);
  }
  