<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <title>Community</title>
    <script src="../../../wakit/js/wakit-bridge.js" data-spa-ignore></script>
    <!-- 웹 단독 사용 시 전역 CSS를 넣고 싶다면 아래와 같이 사용 (SPA 주입 시 무시하려면 data-spa-ignore 추가)-->
    <!-- <link rel="stylesheet" href="../../../wakit/css/base.css" data-spa-ignore /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet" data-spa-ignore >
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css' data-spa-ignore>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css' data-spa-ignore>
    <link rel="stylesheet" href="../../../wakit/css/wakit.css" data-spa-ignore>
    <link rel="stylesheet" href="../../../wakit/css/styleGuide.css" data-spa-ignore>
    <link rel="stylesheet" href="../../../wakit/css/component.css" data-spa-ignore>
    <link rel="stylesheet" href="../../../wakit/css/popup.css">
    <meta name="popup:auto-url" content="popups/popuptest.html">
</head>
<body>
    <div data-include="wakit-components/header.html" data-include-when="web"></div>

<h1>성장하는 이야기</h1>

<a href="#" data-open-offcanvas="left">왼쪽 메뉴</a>
<button class="open-offcanvas-right">오른쪽 열기</button>

<a href="views/board/list.html">홈으로</a>


<ul>
    <li>1</li>
</ul>


<script data-spa-ignore>
  console.log('community page script executed');
  console.log('search', window.location.search);
  console.log('hash', window.location.hash);
  console.log('pathname', window.location.pathname);
  console.log('href', window.location.href);
  console.log('origin', window.location.origin);
  console.log('protocol', window.location.protocol);
  console.log('host', window.location.host);
  console.log('hostname', window.location.hostname);
</script>

</body>
</html>