<nav class="tabbar" id="tabbar">
  <a id="tab-movie-home" href="#movie-home" data-id="movie-home" aria-label="홈" class="active">
    <div class="icon"><span class="fi fi-sr-home"></span></div>
    <span>홈</span>
  </a>

  <a id="tab-movie-store" href="#movie-store" data-id="movie-store" aria-label="스토어">
    <div class="icon"><span class="fi fi-sr-shopping-bag"></span></div>
    <span>스토어</span>
  </a>

  <a id="tab-movie-booking" href="#movie-booking" data-id="movie-booking" aria-label="예매">
    <div class="icon"><span class="fi fi-sr-ticket"></span></div>
    <span>예매</span>
  </a>

  <a id="tab-movie-more" href="#movie-more" data-id="movie-more" aria-label="My">
    <div class="icon"><span class="fi fi-sr-user"></span></div>
    <span>My</span>
  </a>
</nav>
