<nav class="tabbar" id="tabbar">
  <a id="tab-home" href="#home" data-id="home" aria-label="Home" class="active">
    <div class="icon"><span class="fi fi-rr-home"></span></div>
    <span>Home</span>
  </a>

  <a id="tab-list" href="#list" data-id="list" aria-label="List">
    <div class="icon"><span class="fi fi-rr-apps"></span></div>
    <span>List</span>
  </a>

  <a id="tab-profile" href="#profile" data-id="profile" aria-label="My">
    <div class="icon"><span class="fi fi-rr-user"></span></div>
    <span>My</span>
  </a>
</nav>
