<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
  <title>App Astro</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="manifest" href="./manifest.json">
  <meta name="theme-color" content="#ffffff">
  <script src="../../../wakit/js/wakit-bridge.js" data-spa-ignore></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet" data-spa-ignore>
  <link rel="stylesheet" href="../../../wakit/css/wakit.css" data-spa-ignore>
  <link rel="stylesheet" href="../../../wakit/css/styleGuide.css" data-spa-ignore>
  <link rel="stylesheet" href="../../../wakit/css/component.css" data-spa-ignore>
  <link rel="stylesheet" href="css/foundation/index.css" data-spa-ignore>
  <link rel="stylesheet" href="css/style.css" data-spa-ignore>
  <script src="js/theme-init.js" data-spa-ignore></script>
</head>
<body>

<div data-include="wakit-components/header.html" data-spa-ignore></div>

<!-- Show the first screen only (default mobile app screen) -->
<div data-include="views/home.html"></div>

<div data-include="wakit-components/footer.html" data-spa-ignore></div>

</body>
<script src="../../../wakit/js/wakit-popup.js" data-spa-ignore></script>
<script src="js/theme-toggle.js" data-spa-ignore></script>
<script src="js/header.js" data-spa-ignore></script>
<script src="js/scroll-to-top.js" data-spa-ignore></script>
<script data-spa-ignore>if (typeof Popup !== 'undefined') Popup.init();</script>
</html>
